* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    height: 10vh;
    margin-bottom: 0;
    text-align: center;
}

.container {
    padding: 30px;
}

hr{
    height: 10px;
    background-color: #333;
}

p{
    padding: 5px;
}